* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}
  .container {
      width:85%;
      margin: auto;
     
  }
  .row{
      display: flex;
      flex-flow:  row wrap;
      justify-content: space-between;
      align-items: center;
  }
  .content{
      width : 30.33%;
      margin:  18px 0;
  }
  .content img {
 width: 100%;
 height: 300px;
  }

  .cont-layout{
      position: fixed;
      background-color :rgb(128,128,128 ,0.6);
      width:100%;
      height:100%;
    top :0 ;
left: 0;
right: 0;
bottom: 0;
display: none;
justify-content: center;
align-items: center;
}
.layout{
    background-image: url(/assests/img/shuffle-01.jpg);
    width:50%;
    height: 550px;
    display: flex;
    justify-content: space-between;
align-items: center;
position: relative;
}
.layout i{
    font-size: 23px;
    color: gray;
    cursor: pointer;
}
#close{
    position: absolute;
    top:5px;
    right:5px;
}