* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}
body{
    background-color: rgb(59, 56, 56);
    /* cursor: url("/assests/img/Eclipse-1s-200px.gif") , auto; */
    /* cursor: none; */
}
  .container {
      width:85%;
      margin: auto;
     
  }
  .row{
      display: flex;
      flex-flow:  row wrap;
      justify-content: space-between;
      align-items: center;
  }
  .content{
      width : 30.33%;
      margin:  18px 0;
  }
  .content img {
 width: 100%;
 height: 300px;
  }

  .cont-layout{
    position: fixed;
    background-color:rgb(128,128,128 ,0.6);
    width:100%;
    height:100%;
    top:0 ;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(0,0) ;
    -webkit-transform:scale(0,0) ;
    -moz-transform:scale(0,0) ;
    -ms-transform:scale(0,0) ;
    -o-transform:scale(0,0) ;
    transition: all  0.5s ease-in;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.layout{
    background-image: url('../img/shuffle-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width:50%;
    height: 550px;
    display: flex;
    justify-content: space-between;
align-items: center;
position: relative;
}
.layout i{
    font-size: 23px;
    color: gray;
    cursor: pointer;
}
#close{
    position: absolute;
    top:5px;
    right:5px;
}
#mouse{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#up{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: fixed;
    right:0;
    bottom: 0;
    display: none;
  
}
@media (max-width: 1080px) {
 .layout{
     width: 70%;
    height: 600px;}   
}

@media (max-width:991px) {
   
    .content{
        width : 47%;
        
    }
    .content img {

      height: 400px;
    }
    .layout{
        width: 80%;
       height: 900px;
    }   
       #close{
       
        top: 156px;
        right: 8px;
    }
  .layout  i{
        font-size: 40px;
    }
   
   }
   @media (max-width:550px){
    .content{
        width : 90%;
        
    }
   }
